name: Pylint

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
        working-directory: .control/backend

      - name: Install pylint
        run: pip install pylint

      - name: Run pylint
        run: |
          pylint .
        working-directory: .control/backend
